<div class="column">
<h2 class="title pb-4">Login:</h2><hr>
<form class="login-form">
  <div>
    <label for="email-login">Please Enter Your Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Please Enter Your Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="button  is-warning">Login</button>
    <a href="/signup"><button type="button" class="button is-success">Sign-up now!</button></a>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/login.js"></script>